.ms-container{
    height: 550px !important;
    width: 1000px !important;
    border: 5px solid black !important;
    margin-top: 10% !important;
    margin-bottom: 10% !important;
    margin-right: 50% !important;
    margin-left: 25% !important;
}

.ms-border-bottom{
    border: 5px solid transparent !important;
    border-bottom-color: black !important;
}

h1{
    color: red;
}
